* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFont;
    src: url(Gilroy-Thin.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Grap;
    src: url(Graphik-Regular-Trial.otf);
}
@font-face {
    font-family: Grap_semi;
    src: url(Graphik-Semibold.ttf);
}

@font-face {
    font-family: sf_bold;
    src: url(SF-Pro-Display-Bold.ttf);
}
@font-face {
    font-family: sf_regular;
    src: url(SF-Pro-Display-Regular.ttf);
}
@font-face {
    font-family: sf_light;
    src: url(SF-Pro-Display-Light.ttf);
}
@font-face {
    font-family: hel;
    src: url(Pragmatica-ExtraLight.woff);
}
.header {
    width: 100%;
    height: 536px;
    background-image: url(article_img.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha value (0.5 in this example) to control the transparency */
}
.contact0{
    /* position: absolute; */
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.contact0::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCFCFC;
    margin-top: 5430px;
    /* max-width: 1080px; */
    /* overflow: hidden; */
    /* width: 100%; */
    height: 220px;
    /* z-index: -1; */
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    transform: scaleX(1.5);
    z-index: -1;
}
.content{
    z-index: 1;
}
.contact0 h4{
    font-weight: 500;
    color: black;
    font-family: sf_bold;
    font-size: 48px;
}
.contact0 p{
    font-family: sf_light;
    text-align: center;
    font-size: 24px;
    font-weight: 00;
}
.contact{
    position: absolute;
    background-color: white;
    margin-left: 16%;
    width: 68%;
    min-height: 140px;
    display: flex; 
    /* justify-content: center; */
    margin-top: 10px;
    /* justify-content: center; */
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}
.contact p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.input input::placeholder {
    padding-left: 10px;
    font-family: sf_regular;
}
.nav-links {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    /* padding-right: 200px; */
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 44px 80px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    
    background: white;
    /* position: absolute; */
    display: block;
    margin: auto;
    /* bottom: 0; */
    /* bottom: 0px;
    left: 0; */
    /* Position the pseudo-element to the left */
    transition: width 0.5s ease-in-out;
}

.nav-links ul li a:hover::after {
    width: 100%;
    /* left: 0; */
    /* Keep the left position to start from the left */
}
.subscribe-btn {
    margin-top: 34px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding-left: 40px;
    display: inline;
    text-decoration: none;
    color: black;
    border: 1px solid #1D2939;
    padding: 12px 14px;
    gap: 10px;
    font-size: 16px;
    background: white;
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    right: 72px;
    /* display: flex; */
    /* justify-content: flex-end; Aligns items to the right edge */
    /* align-items: center; */
}

.subscribe-btn:hover {

    color: white;
    border: 1px solid black;
    background: #1e1e1e;
    transition: 0.5s;
}

.head-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 380px;
    z-index: 2;
}


.matter {
    /* width: 60%; */
    padding-top: 340px;
    /* height: 3200px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    /* text-align: center; */
    /* padding-left: 15%; */
    /* top: 50%;
    transform: translateY(-50%); */
    /* transform: translate(-50%, 0%); */
    /* padding: 0 200px; */
}

.matter img {
    max-height: 300px;
    max-width: 500px;
    margin-top: 2%;
}

.matter h2 {
    margin-top: 3%;
    font-family: Grap_semi;
    font-size: 72px;
    text-align: center;
    width: 70%;
}

.info {
    margin-top: 1.5%;
    font-family: Grap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.dt {
    color: Gray;
    padding-right: 10px;
}

.matter p {
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    width: 45%;
    font-size: 24px;
}
.high
{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 10px;
    /* padding-bottom: 20px; */
}
.vertical-line {
    border-left: 6px solid #C41740;
    height: 120px;
    /* position: absolute; */
    left: 50%;
    /* margin-left: -3px; */
    top: 0;
  }
  .high h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
  }
.first::first-letter {
    font-size: 30px;
    color: black;
    font-weight: 300px;
}

.comp {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
}
.comp h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
.blogs h3{
    margin-left: 16%;
    text-align: left!important;
    align-items: left!important;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
    font-size: 30px;
}
.blogs {
    background-color: #F2F4F7;
    width: 100%;
    height: 800px;
    /* display: flex; */
    /* justify-content: flex-start; */
    margin-top: 72px;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    /* Adjust the top padding as needed */
    padding-bottom: 200px;
}

.col {
    width: 68%;
    display: flex;
    margin-left: 16% ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog-col {
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
    /* flex-basis: 30%; */
    padding: 20px 30px 20px 30px;
    /* gap: 50px; */
    margin-bottom: 5%;
    flex-direction: row-reverse;
    /* box-sizing: border-box; */
    cursor: pointer;
    /* box-sizing: border-box; */
    transition: 1s;
    max-height: 200px;
    gap: 50px;
}

.blog-col:hover {
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: 1s;
}



.blog-content h6 {
    font-family: Grap;
    color: #667085;
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 400;
}

.blog-content h2 {
    font-family: Grap;
    color: #1D2939;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
}

.blog-content p {
    font-family: Grap;
    color: #667085;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;

}


.com{
    padding-top: 100px;
    padding-left: 30%;
}
.card .content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 500px;
    padding: 0px;
}



input {
    width: 52%;
    height: 25px;
    /* border-radius: 20px; */
    border: 2px solid #CDCDCD;
    background: #F2F4F7;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    /* color:white; */
    font-size: 20px;
    font-family: "Sansation";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::placeholder {
    color: rgba(0, 0, 0, 0.38);
    font-family: "Sansation";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.C {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: -225px; */
}
.P {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: -225px; */
}

.E {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: -250px; */
    /* width:50px; */
}

.post {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    /* border: 2px solid #000; */
    background: black;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1); */
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
    cursor: pointer;
}

.post:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.com h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}
.com p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.endb{
    position: absolute;
    background-color: black;
        width: 100%;
        height: 512px;
        display: flex; 
        /* justify-content: center; */
        padding-top: 40px;
        /* margin-top: 205px; */
        flex-direction: column;
        align-items: center;
        z-index: -2;
}
.contact p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.contact input {
    font-family: 'Montserrat', sans-serif;
    width: 510px;
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    color: #D7D7D7;
    border-radius: 10px;
    border: 4px solid #DDDDDD;
}
.subs{
    font-family: 'Inter', sans-serif;
    display: inline;
    text-decoration: none;
    color: white;
    border: 1px solid #1D2939;
    padding: 22px 14px;
    font-size: 16px;
    background: #1D2939;
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    margin-left: -100px;
    z-index: 2;
    margin-top: 10px;
}
.subs:hover{
    
    color: black;
    border: 1px solid black;
    background: white;
    transition: 1s;
}


.contact h4{
    font-family: sf_bold;
    font-size: 48px;
}
.contact p{
    font-family: sf_light;
    text-align: center;
    font-size: 24px;
    font-weight: 00;
}
/* .contact input{
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.contact input {
    font-family: sf_regular;
    width: 360px;
    height: 38px;
    font-size: 16px;
    font-weight: 300;
    color: #D7D7D7;
    border-radius: 10px;
    border: 4px solid #DDDDDD;

} */
.contact input{
    font-family: sf_regular;
}
.con{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* max-width: 68%; */
    color: white;
    text-decoration: none;
    width: 68%;
    /* height: 88px; */
    align-items: center;
    text-align: center;
    flex: 1;
}
.con1 ul li {
    list-style: none;
    display: inline-block;                       
    padding: 0px 20px;
    position: relative;
}

.con1 ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: hel;
    font-weight: 300;
}
.con2 ul {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    position: relative;
}
.con2 ul i {
    /* color: white; */
    text-decoration: none;
    padding: 0px 10px;
    /* font-size: 16px; */
    /* font-family: hel; */
    /* font-weight: 300;     */
}
.con ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    /* position: absolute; */
    display: block;
    margin: auto;
    transition: width 0.5s ease-in-out;
}

.con ul li a:hover::after {
    width: 100%;
}

.endb hr{
    width: 68%;
    border: 1px solid #667085;
    margin-top: 40px;

}
.foot{
    /* background-color: #1D2939;
    width: 100%;
    height: 412px; */
    display: flex; 
    justify-content: space-between ;
    flex-direction: row;
    width: 100%;
    padding-top: 40px;
    padding-left: 34%;
    /* margin-top: 675px; */
    /* display: inline-block; */
    /* align-items: center; */

}
.foot1 p{
    font-family: hel;
    font-size: 14px;
    color: white;
    padding-right: 50px;
    /* padding-bottom: 50px; */
}
.foot2 ul li {
    display: inline-block;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* max-width: 68%; */
    color: white;
    text-decoration: none;
    /* width: 68%; */
    /* height: 88px; */
    /* align-items: center; */
    /* text-align: center; */
    flex: 1;

}
.foot2 ul li a {
    color: white;
    padding-right: 20px;
    text-decoration: none;
    font-size: 14px;
    font-family: hel;
    font-weight: 300;
}
.blank{

    background-color: black;
    height: 50px;
    /* padding-top: 3000px; */
}

html,body{
    /* height: 100%; */
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}